@use '../../root' as *;
@use '../../utilities' as *;

.testimonial5 {
  &-card {
    margin-top: 43px;
    position: relative;
    padding: 70px 40px 40px;
    border-radius: 5px;
    border: 2px solid rgba(204, 204, 204, 0.20);
    background: $white;
    @include breakpoint (max-xl){
      padding: 55px 20px 40px;
    }
    &__thumb {
      position: absolute;
      top: -40px;
    }

    &-content {
        &__star {
          padding-bottom: 10px;
          i {
              color: #FFA800;
              font-size: 16px;
              font-style: normal;
              font-weight: 900;
              line-height: normal;
              &:last-child {
                color: var(--800, #CCCCCD);
              }
            }
        }
        &__desc{
          color: $black;
          font-family: Urbanist;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 137.5% */
          padding-bottom: 10px;

        }
    }
    &__quote {
      @include breakpoint (max-sm){
        img {
          width: 85%;
        }
      }
      i {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $border-color;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
    }
  }
}
  