@use '../../root' as *;
@use '../../utilities' as *;    

.pricing4 {
    position: relative;
    background: $black2;
    &-card {
        width: 540px;
        position: relative;
        border-radius: 6.155px;
        background: $white;
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px 5px 0px 0px;
            background: $theme-color;
            padding: 13px 20px;
            color: $black;
            font-family: $title-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; 
            margin-bottom: 40px;
            @include breakpoint (max-xl){
                padding: 5px 20px;
                font-size: 30px;
            }
        }
        &-list {
            padding: 0 30px 30px;
            @include breakpoint (max-xxsmall){
                padding: 0 7px 30px;
            }
            &-item {
                padding-bottom: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__text {
                    color: $black;
                    font-family: $title-font;
                    font-size: 27.083px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36.931px; 
                    @include breakpoint (max-sm){
                        font-size: 24px;
                    }
                }
                &__value {
                    color: $black;
                    font-family: $title-font;
                    font-size: 27.083px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36.931px; 
                    span {
                        @include breakpoint (max-xxl){
                            display: none;
                        }
                    }
                    @include breakpoint (max-sm){
                        font-size: 24px;
                    }
                }
            }
            &__btn {
                display: flex;
                width: 100%;
                height: 73.862px;
                padding: 24.621px 36.931px;
                justify-content: center;
                align-items: center;
                gap: 12.31px;
                flex-shrink: 0;
                border-radius: 6.155px;
                background: $black;
                border: 1px solid $border-color;
                color: $theme-color;
                text-align: center;
                font-family: $body-font;
                font-size: 19.696px;
                font-style: normal;
                font-weight: 500;
                line-height: 17.234px; /* 87.5% */
                letter-spacing: 2.462px;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    color: $black;
                    background: #B8E451;
                }
            }
        }
    }
}