@use '../../root' as *;
@use '../../utilities' as *;

.service3 {
    position: relative;;
    background: $white;
    &-thumb {
        position: relative;
        &__one {
            position: relative;
  
        }
        &__icon {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9; 
            padding: 54px;
            border-radius: 5px;
            border: 1px solid $theme-color;
            background: $theme-color;
        }       

    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #CCC;;
        padding-bottom: 30px;
        margin-bottom: 30px;
        @include breakpoint (max-xsmall){
            flex-direction: column;
            gap: 30px;
        }
        &__left {
            display: flex;
            align-items: center;
            gap: 353px;
            @include breakpoint (max-xxl){
                gap: 270px;
            }
            @include breakpoint (max-xl){
                gap: 200px;
            }
            @include breakpoint (max-lg){
                gap: 60px;
            }
            @include breakpoint (max-md){
                gap: 20px;
            }
            @include breakpoint (max-xsmall){
                flex-direction: column;
                gap: 30px;
            }
        }
        &__title {
            color: $black;
            font-family: $title-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; 
            @include breakpoint (max-xl){
                font-size: 32px;
                line-height: 40px;
            }
            @include breakpoint (max-md){
                font-size: 24px;
                line-height: 30px;
            }
            @include breakpoint (max-sm){
                max-width: 260px;
            }
            @include breakpoint (max-xs){
                max-width: 225px;
            }
            @include breakpoint (max-xsmall){
                max-width: none;
                text-align: center;
            }
        }
        &__link {
            color: $black;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px; 
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}