@use '../../root' as *;
@use '../../utilities' as *;

.about1 {
    position: relative;
    background: var(--White, #FFF);
    @include breakpoint (max-md){
        padding-top: 30px;
    }
    &-thumb {
        position: relative;
        margin-top: 74px;
        @include breakpoint (max-xl){
            margin-top: 0px;
            margin-bottom: 100px;
        }  
        @include breakpoint (max-md){
            display: none;
        }  
        &__left {
            position: relative;

            @include breakpoint (max-xxxl){
                left: -2%;
            }
            @include breakpoint (max-xxl){
                img {
                    max-width: 72%;
                    height: auto;
                }
            }   
            @include breakpoint (max-xl){
                img {
                    max-width: 100%;
                    height: auto;
                }
            }   
        }
        &__right {
            position: absolute;
            right: 3%;
            bottom: -19%;
            z-index: 9;
            @include breakpoint (max-xxl){
                right: -9%;
                bottom: -17%;
                img {
                    max-width: 87%;
                    height: auto;
                }
            }
            @include breakpoint (max-xl){
                right: 11%;
                bottom: -19%;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }  
        }
        &__top {
            position: absolute;
            right: 19px;
            top: -46px;

            @include breakpoint (max-xxl){
                right: -25px;
                top: -34px;
                img {
                    max-width: 87%;
                    height: auto;
                }
            }
            @include breakpoint (max-xl){
                right: 80px;
                top: -46px;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }       
        }
        &__badge {
            position: absolute;
            top: -5px;
            right: 56px;

            @include breakpoint (max-xxl){
                top: -5px;
                right: 25px;
            }
            @include breakpoint (max-xl){
                top: -5px;
                right: 114px;
            }

            h2 {
                color: $white;
                text-align: center;
                font-family: $body-font;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: 74px; /* 115.625% */
            }
            p {
                color: $white;
                text-align: center;
                font-family: $body-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
            }
        }

    }
    &-feature {
        padding-bottom: 38px;
        display: flex;
        gap: 20px;
        &-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 5px;
            border: 1px solid var(--200, #CCC);
            padding: 20px;
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                flex-shrink: 0;
                background: $theme-color;
                border-radius: 50px;
                img {
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    aspect-ratio: 1/1;
                }
            }
            &__title {
                color: var(--900, #010003);
                font-family: Marcellus;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px; 
            }
        }
    }
    &-desc {
        color: var(--900, #010003);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        opacity: 0.8;
    }
}

  