@use '../../root' as *;
@use '../../utilities' as *;

.project3 {
    &__thumb {
        border-radius: 5px;
        img {
            border-radius: 5px;
            width: 100%;
        }

        &--top {
            @include breakpoint(max-md) {
                padding-bottom: 24px;
            }
        }
    }
}  
