@use '../../root' as *;
@use '../../utilities' as *;

.project3 {
    position: relative;
    &__shape1 {
        position: absolute;
        right: 23%;
        @include breakpoint (max-xxl){
            display: none;
        }
    }
    &__thumb {
        border-radius: 5px;
        img {
            border-radius: 5px;
            width: 100%;
        }

        &--top {
            @include breakpoint(max-md) {
                padding-bottom: 24px;
            }
        }
    }
}  
