@use '../root' as *;
@use '../utilities' as *;

.appointment1 {
    &__title {
        color: var(--White, #FFF);
        text-align: center;
        font-family: Marcellus;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 75px;
        padding-bottom: 30px;
        @include breakpoint (max-xl) {
            font-size: 45px;
            line-height: 50px;
        }
        @include breakpoint (max-md) {
            font-size: 42px;
            line-height: 45px;
        }
        @include breakpoint (max-sm) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    &-content {
        display: flex;
        justify-content: space-between;
        @include breakpoint (max-xl){
            flex-wrap: wrap;
            justify-content: start;
            gap: 50px;
        }
        @include breakpoint (max-md){
            gap: 30px;
        }
        &-item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 27px 30px;
            border-radius: 5px;
            background: var(--700, #131215);
            box-shadow: 0px 3.455px 17.565px -4.319px rgba(19, 16, 34, 0.10);
            width: 440px;
            height: 116px;
            @include breakpoint (max-xxxl){
                width: 410px;
            }
            @include breakpoint (max-xxl){
                padding: 20px 20px;
                gap: 10px;
                width: 366px;
            }
            @include breakpoint (max-lg){
                width: 322px;
                padding: 23px 15px;
            }
            @include breakpoint (max-md){
                width: 100%;
                gap: 20px;
            }
            &-info {
                &__name {
                    color: var(--White, #FFF);
                    font-family: Marcellus;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 136.364% */
                    padding-bottom: 7px;
                    @include breakpoint (max-lg){
                        font-size: 18px;
                    }
                }
                &__label {
                    color: var(--White, #FFF);
                    font-family: Urbanist;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    opacity: 0.8;
                }
            }
            &__star {
                position: absolute;
                right: 14px;
                @include breakpoint (max-xxsmall){
                    display: none;
                }
                i {
                    color: var(--P, #B8E451);
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    &:last-child {
                        color: rgba(255, 255, 255, 0.20);
                    }
                }
            }
        }
    }
    &-schedule {
        margin-top: 60px;
        @include breakpoint (max-lg){
            margin-top: 35px;
        }
        &-calendar {
            &__title {
                color: var(--White, #FFF);
                font-family: Marcellus;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px; 
                padding-bottom: 40px;
                @include breakpoint (max-xl){
                    font-size: 34px;
                }
                @include breakpoint (max-lg){
                    padding-bottom: 20px;
                }
            }
        }
        &-button {
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            @include breakpoint (max-xxxl){
                gap: 20px;
            }
            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: 1px solid rgb(52, 51, 53);
                background: var(--900, #010003);
                width: 234.572px;
                height: 100px;
                flex-shrink: 0;
                color: var(--White, #FFF);
                font-family: Marcellus;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                @include breakpoint (max-xxl){
                    width: 196px;
                    height: 85px;
                }
                @include breakpoint (max-xl){
                    width: 164px;
                    height: 65px;
                    font-size: 18px;
                }
                @include breakpoint (max-md){
                    width: 155px;
                    height: 60px;
                    font-size: 16px;
                }
                @include breakpoint (max-sm){
                    width: 122px;
                    height: 50px;
                    font-size: 16px;
                }
                &:hover {
                    color: var(--900, #010003);

                    background: $theme-color;
                    @include transition;
                }
            }
        }
    }
}