@use '../../root' as *;
@use '../../utilities' as *;

.subscribe2 {
    &-info {
        display: flex;
        gap: 80px;
        padding: 114px 135px;
        border-radius: 5px;
        border: 1px solid var(--P, #B8E451);
        background: var(--700, #131215);
        &-titleArea {
            display: flex;
            align-items: center;
            gap: 30px;
            &__title {
                color: var(--White, #FFF);
                font-family: Marcellus;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px; 
            }
        }
        &-form {
            display: flex;
            align-items: center;
            &-wrap {
                display: flex;
                gap: 60px;
            }
        }
    }
}