@use '../../root' as *;
@use '../../utilities' as *;

.blog1 {
    &-card {
        border-radius: 20px;
        background: #F9F9F9;
        &__thumb {
            border-radius: 20px 20px 0px 0px;
            img {
                border-radius: 20px 20px 0px 0px;
                width: 100%;
            }
        }
        &-content {
            padding: 18px 28px 26px;
            &-meta {
                padding-bottom: 6px;
                &__date {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                }      
            }
            &__title{
                padding-bottom: 36px;
            }
            &__link {
                color: $theme-color;
                font-family: $title-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; 
                letter-spacing: -0.32px;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }
}
